@using Interxarifado.Models

@{
    Layout = "/Views/Layout.cshtml";
    ViewBag.Title = "Itens da Requisição";
}

<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/ProdRequi/IndexProdutoRequi">Requisições</a></li>
        <li class="breadcrumb-item active" aria-current="page">Produtos Requisição</li>
    </ol>
</div>

<form action="/ProdutoRequisicao/CreateProdutoRequi" method="POST">
    <div>
        <label>id Produto</label>
        <input type="number" class="form-control" name="idProduto" />
    </div>

    <div>
        <label>Produto Requisitado</label>
        <input type="text" class="form-control" name="produtoRequisitado" />
    </div>
    
    <div>
        <label>Quantidade requisitada</label>
        <input type="number" class="form-control" name="qtdRequisitada" />
    </div>

    <div>
        <label>Quantidade Entregue</label>
        <input type="number" class="form-control" name="qtdEntregue" />
    </div>

    <button class="btn btn-primary" style="margin-top: 20px">Salvar</button>
</form>